<html>
    <head>
        <title>Login</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>


    <body>
       <div>
            <center>
                <div style="padding-top: 30px;padding-bottom: 20px; font-family: 'Arial';font-size: 20px;"> 
                     <h1>REPORTING SYSTEM</h1>
                </div>
                <form action="file:///C:/Users/user/Desktop/Progressive%20Web%20Application/task2.html">

                    <div class="container" >   
                        <div class ="row" >
                            <div>
                                <label for="uname"><b>Username</b></label>
                            </div>
                                <div class="" style="float: center; width: 250px">      
                                        <input type="text" placeholder="Input Username" name="uname" required>
                                </div>
                        </div>


                        <div class ="row">
                            <div>
                                <label for="psw"><b>Password</b></label>
                            </div>
                            <div class="" style="float: center; width: 250px">
                                <input type="password" placeholder="Input Password" name="psw" required>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px" >
                            <button type="submit"class="submit" onclick="window.location.href = 'file:///C:/Users/user/Desktop/Progressive%20Web%20Application/task2.html';">Login</button>
                            <button type="button" class="submitRed">Cancel</button>
                        </div>
                    </div>
                </form>
            </center>
       </div>
    </body>
</html>
