<html>
<head>
  <title> Menu </title>
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='style.css') }}">
</head>

<body bgcolor="#F0FFF0"> 

    {% extends "NAVBARPROG.html" %}
    {% set active_page = 'home' %}

    {% block content %}
    <br><br><br><br>
    
<h3><p align="Right">{{day}}, <span  id="time" align="Left"> </span></p></h3>
<h2><p align="Right"> Welcome, {{session['username']}}</p></h2>

<br><br><br>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="/static/images/rep1.png" style="width:100%; border: 0">
  </div>

  <div class="mySlides fade">
    <img src="/static/images/logoPharos.png" style="width:100%; border: 0">
  </div>
  <div class="mySlides fade">
    <img src="/static/images/sky.jpg" style="width:100%; border: 0">
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
{% endblock %}

{% block script %}
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

var span = document.getElementById('time');

function time() {
  var d = new Date();
  var s = d.getSeconds();
  var m = d.getMinutes();
  var h = d.getHours();
  span.textContent = h + ":" + m + ":" + s;
}

setInterval(time, 1000);
</script>
{% endblock %}
</body>
</html>