
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<title>TEST ADD DETAIL TEMPLATE</title>
</head>
<body bgcolor="#F0FFF0">
	
{% if session.get('position') == 'Admin' %}

  <div class="topnav"><ul>
    <li><a href="admin">HOME</a></li>
    <li><a href="changePass">ACCOUNT</a></li>
    
    <div class="dropdown">
      <button class="dropbtn">TASK
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="availableTask">AVAILABLE TASK</a>
        <a href="listTask">LIST TASK</a>
        <a href="historyTask">HISTORY TASK</a>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">TEMPLATE
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a class="active" href="addTemplate">NEW TEMPLATE</a>
        <a href="formatTemplate">EDIT TEMPLATE</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">QUERY
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="insertQuery">NEW QUERY</a>
        <a href="editQuery">EDIT QUERY</a>
      </div>
    </div>

      <li><a href="preview">PREVIEW</a></li>

    <div class="dropdown">
      <button class="dropbtn">SCHEDULING
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="addNewSchedule">NEW SCHEDULE</a>
        <a href="editSchedule">EDIT SCHEDULE</a>
        <a href="runSchedule">RUN SCHEDULE</a>
      </div>
    </div>

      <li><a href="listReport">LIST REPORT</a></li>
      <li><a href="login">LOGOUT</a></li> 
  </ul></div>

{% else %}

 <div class="topnav"><ul>
        <li><a href="spv">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTaskSPV">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="onProgressTask">ON PROGRESS TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a class="active" href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a href="runSchedule">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>
{% endif %}
<br><br>

<div class="judul">
	<center>FORMAT TEMPLATE</center>
</div>

<div class="containInsert">
<form action="/sendFormatTemplate" method="POST">

	{% if detailFormatTemplate %}
		<div class ="row">
		  <div class ="col-35">
		    <label for="kodeReport">Report Code : </label>
		  </div>

		  <div class="col-55">
		        <input type="text" class = "col-10" id="kodeLaporan" name="kodLap" value="{{detailFormatTemplate[0].reportId}}" placeholder="{{detailFormatTemplate[0].reportId}}" style="width: 120px">
		  </div>
		</div>


		<div class="row">
		  <div class ="col-35">
		    <label for="periode">Period : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="periode" name="periode" value="{{detailFormatTemplate[0].reportPeriode}}">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="periode">Print All : </label>
		  </div>

		  <div class="row-55">
		    <input type="text" class = "col-10" id="printAll" name="printAll" value="{{detailFormatTemplate[0].reportPrintAll}}" style="width: 120px">
		  </div>
		</div>

		<div class ="row">
		  <div class ="col-35">
		    <label for="namaReport">Report Name : </label>
		  </div>

		  <div class="col-85">
		    <input type="text" id="namaReport" name="namaReport" value="{{detailFormatTemplate[0].reportJudul}}">
		  </div>
		</div>


		<div class ="row">
		  <div class ="col-35">
		    <label for="jmlHeader">Total Header: </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="jmlHeader" name="jmlHeader" value="{{detailFormatTemplate[0].reportHeader}}" style="width: 120px">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35" >
		    <label for="jmlFooter">Total Footer : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="jmlFooter" name="jmlFooter" value="{{detailFormatTemplate[0].reportFooter}}" style="width: 120px">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="jmlKolom">Total Column  : </label>
		  </div>

		  <div class="col-55">
		    <input type="number" class = "col-10" id="jmlKolom" name="jmlKolom" value="{{detailFormatTemplate[0].reportJmlTampilan}}"
		    onchange="generateForm(this.value)" style="width:120px; height: 35px;" min="5" max="14">
		  </div>
		</div>
	

	<div class="row">
		  	{% for i in range(1,15) %}
		  		<div id="areaKolom{{i}}" style="display: inline-block;">
		  			<div style="display: inline-block; width: 200px">
			  			<b>Column {{i}}:</b>
			  			<br>
			  			<input type="text" id="kolom{{i}}" name="kolom{{i}}" style='width:200px;'/>
		  			</div>
		  			<div style="display: inline-block; width: 200px">
			  			<b>Position:</b>
			  			<br>
			  			<select name="posisi{{i}}">
			  				<option value='B6'>B6</option>
			  				<option value='B7'>B7</option>
			  				<option value='C6'>C6</option>
			  				<option value='C7'>C7</option>
			  				<option value='D6'>D6</option>
			  				<option value='D7'>D7</option>
			  				<option value='E6'>E6</option>
			  				<option value='E7'>E7</option>
			  				<option value='F6'>F6</option>
			  				<option value='F7'>F7</option>
			  				<option value='G6'>G6</option>
			  				<option value='G7'>G7</option>
			  				<option value='H6'>H6</option>
			  				<option value='H7'>H7</option>
			  				<option value='I6'>I6</option>
			  				<option value='I7'>I7</option>
			  				<option value='J6'>J6</option>
			  				<option value='J7'>J7</option>
			  				<option value='K6'>K6</option>
			  				<option value='K7'>K7</option>
			  				<option value='L6'>L6</option>
			  				<option value='L7'>L7</option>
			  				<option value='M6'>M6</option>
			  				<option value='M7'>M7</option>
			  				<option value='N6'>N6</option>
			  				<option value='N7'>N7</option>
			  			</select>
		  			</div>
	          		<div  style="display: inline-block; width: 200px">
	          			<b>Type:</b>
	          			<br>
	          			<select name="tipe{{i}}">
	          				<option value='String'>String</option>
	          				<option value='Integer'>Integer</option>
	          				<option value='Decimal'>Decimal</option>
	          				<option value='Percentage'>Percentage</option>
	          				<option value='Date'>Date</option>
	          				<option value='Time'>Time</option>
	          				<option value='Datetime'>Datetime</option>
	          			</select>
          			</div>
          			<div style="display: inline-block; width: 200px">
			  			<b>Width:</b>
			  			<br>
			  			<input type='text' id="kolom{{i}}" name="lebar{{i}}" style='width:200px;'/>
			  		</div>
		  		</div>
          	
		  	{% endfor %}
		  
		</div>
{% endif %}

		<div class="row">
			<div class="col-35">
				<label for="kolomMerge">Merge Column :</label>				
			</div>
			
			<div class="col-55">
				<input type="text" class="col-10" id="kolomMerge" name="kolomMerge">
			</div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="rataKanan">Right Column  : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="rataKanan" name="rataKanan">
		  </div>
		</div>

		<div class="row">
			<div class="col-35">
				<label for="rataKiri">Center Column : </label>
			</div>
			
			<div class="col-55">
				<input type="text" class="col-10" id="rataTengah" name="rataTengah">
			</div>
		</div>

		{% for i in range(2) %}

		<div class ="row">
		  <div class ="col-35">
		    <label for="footer">Footer {{i+1}} : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="kolF" name="kolomFooter{{i}}" >
		  </div>
		</div>

		<!-- CHECKBOX UNTUK LETAK FOOTER -->
		<div class ="myBox">
		  <input type="checkbox" name="B{{i+1}}" value="B">B
		  <input type="checkbox" name="C{{i+1}}" value="C">C
		  <input type="checkbox" name="D{{i+1}}" value="D">D
		  <input type="checkbox" name="E{{i+1}}" value="E">E
		  <input type="checkbox" name="F{{i+1}}" value="F">F
		  <input type="checkbox" name="G{{i+1}}" value="G">G
		  <input type="checkbox" name="H{{i+1}}" value="H">H
		  <input type="checkbox" name="I{{i+1}}" value="I">I
		  <input type="checkbox" name="J{{i+1}}" value="J">J
		  <input type="checkbox" name="K{{i+1}}" value="K">K
		  <input type="checkbox" name="L{{i+1}}" value="L">L
		  <input type="checkbox" name="M{{i+1}}" value="M">M
		  <input type="checkbox" name="N{{i+1}}" value="N">N
		</div>

		{% endfor %}

		<center>
  <div class="colBut">
<button class="submit"> SAVE </button></div>

</form>

<div class="colBut">
<form action="/admin"><button class="submitred"> CANCEL </button></form></div>
</center>

</div>
</body>

<script>
      function generateForm(loop)
      {
        var fieldCount = loop;
        console.log(fieldCount);
        for (i = 1; i < 15; i++)
        {
        	var value = "areaKolom"+i.toString();
        	console.log(value);
          	var kolom  = document.getElementById(value);
          	kolom.style.display = "inline";
        
        }
        for (i = 14; i > fieldCount; i--)
        {
        	var value = "areaKolom"+i.toString();
        	console.log(value);
          	var kolom  = document.getElementById(value);
          	kolom.style.display = "none";
        }
        
      }

/*      function testtt(){
      	for (i = 5){
      		var values = "areaKolom"+i.toString();
      		console.log(values);
      		var kolom = document.getElementById(values);
      		kolom.style.display = "inline";
      	}

      }*/

      function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // containerq <div> where dynamic content will be placed
            var containerq = document.getElementById("containerq");
            // Clear previous contents of the containerq
            while (containerq.hasChildNodes()) {
                containerq.removeChild(containerq.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                containerq.appendChild(document.createTextNode("Member " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "member" + i;
                containerq.appendChild(input);
                // Append a line break 
                containerq.appendChild(document.createElement("br"));
            }
        }
    

    function test(){
    	alert('Berhasil!');
    }

    /*window.onload = test;*/

    </script>
</html>