<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title> Edit Schedule </title>
</head>

<body bgcolor="#F0FFF0">
{% if session.get('position') == 'Admin' %}

 <div class="topnav"><ul>
      <li><img src="/static/images/logoPharos.png" style="width: 150px; border: 0"></li>
      <div class="topnav-right">
          <li><a href="admin">HOME</a></li>
        
        <div class="dropdown">
          <button class="dropbtn">TASK
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="availableTask">AVAILABLE TASK</a>
            <a href="listTask">LIST TASK</a>
            <a href="historyTask">HISTORY TASK</a>
          </div>
        </div>
        
        <div class="dropdown">
          <button class="dropbtn">TEMPLATE
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="addTemplate">NEW TEMPLATE</a>
            <a href="formatTemplate">EDIT TEMPLATE</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">QUERY
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="insertQuery">NEW QUERY</a>
            <a href="editQuery">EDIT QUERY</a>
          </div>
        </div>

          <li><a href="preview">PREVIEW</a></li>

        <div class="dropdown">
          <button class="dropbtn">SCHEDULING
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="addNewSchedule">NEW SCHEDULE</a>
            <a class="active" href="editSchedule">EDIT SCHEDULE</a>
            <a href="runSchedule">RUN SCHEDULE</a>
          </div>
        </div>

          <li><a href="listReport">LIST REPORT</a></li>
        
        <div class="dropdown">
          <button class="dropbtn">ACCOUNT
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="changePass">EDIT PROFILE</a>
            <a href="login">LOGOUT</a>
          </div>
        </div>
      </div>
    </ul></div>

{% else %}

 <div class="topnav"><ul>
  <li><img src="/static/images/logoPharos.png" style="width: 150px; border: 0"></li>
  <div class="topnav-right">
      <li><a href="spv">HOME</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTaskSPV">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="onProgressTask">ON PROGRESS TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a class="active" href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="listReport">LIST REPORT</a></li>
              
      <div class="dropdown">
          <button class="dropbtn">ACCOUNT
            <i class="fa fa-caret-down"></i>
          </button>

          <div class="dropdown-content">
            <a href="changePass">EDIT PROFILE</a>
            <a href="login">LOGOUT</a>
          </div>
      </div>

      </div>
    </ul></div>
{% endif %}

<br><br>

<div class ="judul">
  <center>EDIT SCHEDULE</center>
</div>


<form action="/editSchedule" method = 'POST'>

<center>
<div class ="containEdit">
  <center>
  <div class="tulisan" style="width: 350px; text-align: left;">
    <label for="kodeRep">Kode Report : </label>
    <input name="valKode" list="listKodeR">
    <datalist id="listKodeR">
      {% for row in listKodeLap %}
        <option value="{{row['reportId']}}"></option>
      {% endfor %}
    </datalist>
  </div>
  
<br><br><br><br>
 
    <button class="submit">OK</button>
  </center>

</div>
</form>
</center>

<br>


</center>



</body>
</html>
