<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<title>ADD COPY TEMPLATE</title>
</head>

<body bgcolor="#F0FFF0" onload="generateForm({{jumKol}}); generateFooter({{jmlFooter}});">

{% if session.get('position') == 'Admin' %}
    {% extends "NAVBARPROG.html" %}
    {% set active_page = 'template' %}

{% else %}
    {% extends "NAVBARSPV.html" %}
    {% set active_page = 'template' %}
    
{% endif %}   


{% block content %}
<br><br>
<div class="judul">
	<center>FORMAT TEMPLATE</center>
</div>

<div class="containInsert">
<form action="/sendCopyTemplate" method="POST">

{% if detailTemplate %}
      <div class ="row">
        <div class ="col-35">
          <label for="kodeReport">Kode Report : </label>
        </div>

        <div class="col-55">
          <input type="text" id="kodeLaporan2" name="kodeLaporan2" placeholder="Kode Laporan" style="width: 120px">
          <select id="kategori" name="kategori" style="width: 235px">
            {% for row in listKategori %}
              <option value="{{row.Id}}">{{row.Name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-55">
          <input type="text" id="kodeLaporan2" name="noLap" placeholder="Nomor Laporan" style="width: 120px">
        </div>
      </div>

      <div class ="row">
        <div class ="col-35">
          <label for="organisasi">Organisasi : </label>
        </div>
      
        <div class="col-45">
          <select id="organisasi" name="organisasi">
            {% for row in listOrg %}
              <option value="{{row.Id}}">{{row.Name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class ="row">
        <div class ="col-35">
          <label for="server">Server : </label>
        </div>
        
        <div class="col-45">
          <select id="server" name="server">
            {% for row in listServer %}
              <option value="{{row.serverId}}">{{row.serverName}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class ="row">
        <div class ="col-35">
          <label for="namaReport">Nama Report : </label>
        </div>

        <div class="col-85">
          <input type="text" id="kodeReport" name="namaLaporan" style="text-transform: uppercase;" >
        </div>
      </div>


		<div class="row">
		  <div class ="col-35">
		    <label for="deskripsi">Deskripsi : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="deskripsi" name="deskripsi" value="{{detailTemplate[0].reportDeskripsi}}">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="tujuan">Tujuan : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="tujuan" name="tujuan" value="{{detailTemplate[0].reportTujuan}}">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="periode">Period : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="periode" name="periode" value="{{detailTemplate[0].reportPeriode}}">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="print">Print All : </label>
		  </div>

		  <div class="row-15">			
			{% if detailTemplate[0].reportPrintAll == 'Y' %}
				<select name="printAll" style="width: 120px;">
					<option name="printAll">{{detailTemplate[0].reportPrintAll}}</option>
					<option name="printAll">N</option>
				</select>
			{% else %}
				<select name="printAll" style="width: 120px;">
					<option name="printAll">{{detailTemplate[0].reportPrintAll}}</option>
					<option name="printAll">Y</option>
				</select>
			{% endif %}
		  </div>
		</div>


		<div class ="row">
		  <div class ="col-35">
		    <label for="jmlHeader">Total Header: </label>
		  </div>

		  <div class="col-55">
			<input type="number" class = "col-10" id="jmlHeader" name="jmlHeader" value="{{detailTemplate[0].reportHeader}}" style="width:120px; height: 35px;" min= "1"; max="2">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35" >
		    <label for="jmlFooter">Total Footer : </label>
		  </div>

		  <div class="col-55">
			<input type="number" class = "col-10" id="jmlFooter" name="jmlFooter" value="{{detailTemplate[0].reportFooter}}" style="width:120px; height: 35px;" min= "0"; max="2" onchange="generateFooter(this.value)" onkeyup="generateFooter(this.value)">
		  </div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="jmlKolom">Total Column  : </label>
		  </div>

		  <div class="col-55">
		    <input type="number" class = "col-10" id="jmlKolom" name="jmlKolom" value="{{detailTemplate[0].reportJmlTampilan}}"
		    onchange="generateForm(this.value)" onkeyup="generateForm(this.value)" style="width:120px; height: 35px;">
		  </div>
		</div>
	

		<div class="row">
		
		  	{% for i in range(1,15) %}
		  		<div id="areaKolom{{i}}" style="display: inline-block;">
		  			<div style="display: inline-block; width: 200px">
			  			<b>Column {{i}}:</b>
			  			<br>

			  			<input type="text" id="kolom{{i}}" name="kolom{{i}}" value="{{namKol[i-1]}}" style='width:200px;'/>
			  			
			  			
		  			</div>
		  			<div style="display: inline-block; width: 200px">
			  			<b>Position:</b>
			  			<br>
			  			<select name="posisi{{i}}">
			  				<option value='{{lokasiKolom[i-1]}}'>{{lokasiKolom[i-1]}}</option>
			  				<option value='B8'>B8</option>
			  				<option value='B9'>B9</option>
			  				<option value='C8'>C8</option>
			  				<option value='C9'>C9</option>
			  				<option value='D8'>D8</option>
			  				<option value='D9'>D9</option>
			  				<option value='E8'>E8</option>
			  				<option value='E9'>E9</option>
			  				<option value='F8'>F8</option>
			  				<option value='F9'>F9</option>
			  				<option value='G8'>G8</option>
			  				<option value='G9'>G9</option>
			  				<option value='H8'>H8</option>
			  				<option value='H9'>H9</option>
			  				<option value='I8'>I8</option>
			  				<option value='I9'>I9</option>
			  				<option value='J8'>J8</option>
			  				<option value='J9'>J9</option>
			  				<option value='K8'>K8</option>
			  				<option value='K9'>K9</option>
			  				<option value='L8'>L8</option>
			  				<option value='L9'>L9</option>
			  				<option value='M8'>M8</option>
			  				<option value='M9'>M9</option>
			  				<option value='N8'>N8</option>
			  				<option value='N9'>N9</option>
			  			</select>
		  			</div>

	          		<div  style="display: inline-block; width: 200px">
	          			<b>Type:</b>
	          			<br>
	          			<select name="tipe{{i}}">
	          				<option value='{{tipeData[i-1]}}'>{{tipeData[i-1]}}</option>
	          				<option value='String'>String</option>
	          				<option value='Integer'>Integer</option>
	          				<option value='Decimal'>Decimal</option>
	          				<option value='Percentage'>Percentage</option>
	          				<option value='Date'>Date</option>
	          				<option value='Time'>Time</option>
	          				<option value='Datetime'>Datetime</option>
	          			</select>
          			</div>
          			<div style="display: inline-block; width: 200px">
			  			<b>Width:</b>
			  			<br>
			  			<input type='text' id="kolom{{i}}" name="lebar{{i}}" value="{{lebarKolom[i-1]}}" style='width:200px;'/>
			  		</div>

			  		<div style="display: inline-block; width: 200px">
			  			<b>Formula:</b>
			  			<br>
			  			<input type='text' id="kolom{{i}}" name="formula{{i}}"  style='width:200px;'/>
			  		</div>
		  		</div>
          	
		  	{% endfor %}
		  
		</div>


		<div class="row">
			<div class="col-35">
				<label for="kolomMerge">Merge Column :</label>
			</div>
			
			<div class="col-55">
				<input type="text" class="col-10" id="kolomMerge" name="kolomMerge" value="{{formatMerge}}">
			</div>
		</div>

		<div class="row">
		  <div class ="col-35">
		    <label for="rataKanan">Right Column  : </label>
		  </div>

		  <div class="col-55">
		    <input type="text" class = "col-10" id="rataKanan" name="rataKanan" value="{{formatKanan}}">
		  </div>
		</div>

		<div class="row">
			<div class="col-35">
				<label for="rataKiri">Center Column : </label>
			</div>
			
			<div class="col-55">
				<input type="text" class="col-10" id="rataTengah" name="rataTengah" value="{{formatTengah}}">
			</div>
		</div>
{% endif %}
		{% for i in range(1,3) %}
		<div id="areaFooter{{i}}"> 
			<div class ="row">
			  <div class ="col-35">
			    <label for="footer">Footer {{i}} : </label>
			  </div>

			  <div class="col-55">
			    <input type="text" class = "col-10" id="kolF" name="kolomFooter{{i}}" value="{{namaKolomFooter[i-1]}}">
			  </div>
			</div>

			<!-- CHECKBOX UNTUK LETAK FOOTER -->
			<div class ="myBox" name="checkbox">			
				{% for footer in ['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'] %}
					{% if footer in lokasiFooter %}
						<input type="checkbox" name="{{footer}}" value="{{footer}}" checked="checked"> {{footer}}
					{% else %}
						<input type="checkbox" name="{{footer}}" value="{{footer}}"> {{footer}}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<center>
  <div class="colBut">
<button class="submit"> SAVE </button></div>
</form>
	
	{% if session.get('position') == 'Admin' %}
		<div class="colBut"><form action="/admin/home">
			<button class="submitRed"> CANCEL </button>
		</form></div>
	{% else %}
		<div class="colBut"><form action="/spv/home">
			<button class="submitRed"> CANCEL </button>
		</form></div>
	{% endif %}
	
</center>

</div>

{% endblock %}
</body>

{% block script %}
<script>
      function generateForm(loop)
      {
        var fieldCount = loop;
        console.log(fieldCount);
        for (i = 1; i < 15; i++)
        {
        	var value = "areaKolom"+i.toString();
        	console.log(value);
          	var kolom  = document.getElementById(value);
          	kolom.style.display = "inline";

          	// var value2 = "kolom"+i.toString();
          	// var kolom2 = document.getElementById(value2)

          	// var value3 = kolom2.val()

          	// kolom2.value = value3;



        
        }
        for (i = 14; i > fieldCount; i--)
        {
        	var value = "areaKolom"+i.toString();
        	console.log(value);
          	var kolom  = document.getElementById(value);
          	kolom.style.display = "none";

          	var value2 = "kolom"+i.toString();
          	var kolom2 = document.getElementById(value2)
          	kolom2.value = "";
        }
        
      }


    
	function generateFooter(loopFooter)
	{
	var fieldCount = loopFooter;
	console.log(fieldCount);
	for (i = 1; i < 3; i++)
	{
		var value = "areaFooter"+i.toString();
		console.log(value);
	  	var footer  = document.getElementById(value);
	  	footer.style.display = "inline";

	}
	for (i = 2; i > fieldCount; i--)
	{
		var value = "areaFooter"+i.toString();
		console.log(value);
	  	var footer  = document.getElementById(value);
	  	footer.style.display = "none";
	}

	}

    function test(){
    	alert('Berhasil!');
    }

    /*window.onload = test;*/

    </script>
    {% endblock %}
</html>