<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Profile</title>
</head>

<body bgcolor="#F0FFF0">

{% if session.get('position') == 'User' %}

  {% extends "ms1NAVBAR.html" %}
  {% set active_page = 'account' %}

{% elif session.get('position') == 'Admin' %}

  {% extends "NAVBARPROG.html" %}
  {% set active_page = 'account' %}


{% else %}
  {% extends "NAVBARSPV.html" %}
  {% set active_page = 'account' %}

{% endif %}

{% block content %}
<br><br><<br><br>

<div class ="judul">
        <center> EDIT PROFILE </center>
    </div> 

<center>
    <form action="/sendDataPassword", method="POST">
    <div class="containModify">
        <br><br><br>
        <div class ="row">
            <div class ="col-25">
                <label for="oldPass">Old Password</label>
            </div>
            
            <div class="col-75">
                <input type="password" placeholder="Input old password" id="oldPass" name="oldPass">
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label for="newPass">New Password </label>
            </div>

            <div class="col-75">
                <input type="password" placeholder="Input new password" id="newPass" name="newPass">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="newPass">Confirm New Password</label>
            </div>

            <div class="col-75">
                <input type="password" placeholder="Confirm password" id="confPass" name="confPass">
            </div>
        </div>

            <br><br><br><br><br><br>


        <center>
          <div class="colBut">
            <button class="submit" id="save" onclick="validasi()">Save</button><br></div></form>
              
          <div class="colBut">
            <button class="submitRed">Cancel</button>
          </div>
        </center>
       </center>
    </div>
</body>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function validasi(){
      var success = document.getElementById("save").value;
      var newPass = document.getElementById("newPass").value;
      var confPass = document.getElementById("confPass").value;

      if(confPass != newPass){
        alert("konfirmasi password harus sesuai dengan password baru")
        return false;
      }else{
        alert("Password successfully changed!")
        return false;
      }
      return true;

    } 

</script>
{% endblock %}

</html>