<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title> Add New Query </title>
</head>

<body bgcolor="#F0FFF0">



{% if session.get('position') == 'Admin' %}
  {% extends "NAVBARPROG.html" %}
  {% set active_page = 'query' %}
{% else %}

 {% extends "NAVBARSPV.html" %}
 {% set active_page = 'query' %}
{% endif %}
  

  {% block content %}

  <br><br>
    <form action="/sendNewQuery" method = "POST">
    <div class ="judul">
      <center>INSERT QUERY</center>
    </div>

<div class="containInsert">
    <div class ="rowF">
      <label for="kodeReport">Pilih Report: </label>
      <div class="column">
        <select name="kodLap">
          {% for row in kodeNewQuery %}
            <option name="kodLap" value="{{row.reportId}}">{{row.reportId}}</option>
          {% endfor %}        
        </select>
      </div>
    </div>
            
  <br><br>


    <div class="rowF">
      <label for="kodeReport">Query 1</label>
      <div class ="column">
        <textarea  id = "qi1" class = "textQuery" name="query1" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 8</label>
      <div class ="column">
        <textarea  id = "qi8" class = "textQuery" name="query8" style="width: 400px; height: 175px"></textarea>
      </div>
    </div>
<br>

    <div class="rowF">
      <label for="kodeReport">Query 2</label>
      <div class ="column">
        <textarea  id = "qi2" class = "textQuery" name="query2" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 9</label>
      <div class ="column">
        <textarea  id = "qi9" class = "textQuery" name="query9" style="width: 400px; height: 175px"></textarea>    
      </div>
    </div>

<br>

    <div class="rowF">
      <label for="kodeReport">Query 3</label>
      <div class ="column">
        <textarea  id = "qi3" class = "textQuery" name="query3" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 10</label>
      <div class ="column">
        <textarea  id = "qi10" class = "textQuery" name="query10" style="width: 400px; height: 175px"></textarea>
      </div>
    </div>

<br>

    <div class="rowF">
      <label for="kodeReport">Query 4</label>
      <div class ="column">
        <textarea  id = "qi4" class = "textQuery" name="query4" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 11</label>
      <div class ="column">
          <textarea  id = "qi11" class = "textQuery" name="query11" style="width: 400px; height: 175px"></textarea>
      </div>
    </div>

<br>

    <div class="rowF">
      <label for="kodeReport">Query 5</label>
      <div class ="column">
        <textarea  id = "qi5" class = "textQuery" name="query5" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 12</label>
        <div class ="column">
          <textarea  id = "qi12" class = "textQuery" name="query12" style="width: 400px; height: 175px"></textarea>
        </div>
    </div>

<br>

    <div class="rowF">
      <label for="kodeReport">Query 6</label>
      <div class ="column">
        <textarea  id = "qi6" class = "textQuery" name="query6" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 13</label>
      <div class ="column">
        <textarea  id = "qi13" class = "textQuery" name="query13" style="width: 400px; height: 175px"></textarea>
      </div>
    </div>

<br>

    <div class="rowF">
      <label for="kodeReport">Query 7</label>
      <div class ="column">
        <textarea  id = "qi7" class = "textQuery" name="query7" style="width: 400px; height: 175px"></textarea>
      </div>

      <label for="kodeReport">Query 14</label>
        <div class ="column">
          <textarea  id = "qi14" class = "textQuery" name="query14" style="width: 400px; height: 175px"></textarea>
        </div>
    </div>
</div>

<center>
  <div class="colBut">
    <button class="submit" id="save" onclick="sukses()">Save</button>
  </div></form>

{% if session.get('position') == 'Admin' %}
  <div class="colBut">
    <form action="/admin/home">
    <button class="submitRed">Cancel</button></form></div>
{% else %}
  <div class="colBut">
    <form action="/spv/home">
    <button class="submitRed">Cancel</button></form></div>
{% endif %}

</center>


</body>
{% endblock %}
</html>
{% block script %}
<script type="text/javascript">

  function sukses(){
      var query1 = document.getElementById("qi1");
      var query2 = document.getElementById("qi2");
      var query3 = document.getElementById("qi3");
      var query4 = document.getElementById("qi4");
      var query5 = document.getElementById("qi5");
      var query6 = document.getElementById("qi6");
      var query7 = document.getElementById("qi7");
      var query8 = document.getElementById("qi8");
      var query9 = document.getElementById("qi9");
      var query10 = document.getElementById("qi10")
      var query11 = document.getElementById("qi11");
      var query12 = document.getElementById("qi12");
      var query13 = document.getElementById("qi13");
      var query14 = document.getElementById("qi14");
      var test = document.getElementById("save")

      if(query1 != None){
        alert("Query berhasil di input")
        return false;
      }
      return true;

  }

</script>
{% endblock %}