<html>
  <head>


    <link rel="stylesheet" href="{{ url_for('static', filename='styleNavProg.css') }}">
<!--     {% block head %}
    {% endblock %} -->
</head>

<div class="custom-padding">
  <nav>
    <div class="logo">Logo</div>

    <ul class="menu-area">



    
      	<li><a href="#">About</a></li>
      	<div class="dropdown-content">
      		<i class="fa fa-caret-down"></i>
                <a href="/admin/task/available">AVAILABLE TASK</a>
                <a href="/admin/task/list">LIST TASK</a>
                <a href="/admin/task/history">HISTORY TASK</a>
              </div>
       



          
      <li><a href="#">Portfolio</a></li>

      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Contact</a></li>

    </ul>
  </nav>
</div>



<!--- ignore the code below-->

<div class="link-area">
  <a href="https://www.youtube.com/channel/UCki4IDK86E6_pDtptmsslow" target="_blank">Click for More</a>
</div>


</html>