<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body bgcolor="#F0FFF0">
  
  <div id="navbar">
    <div class="topnav"><ul>
      <li><img src="/static/images/logoPharos.png" style="width: 150px; border: 0"></li>
      
      <div class="topnav-right">
        {% if active_page == 'home' %}
          <li class="active"><a href="spv">HOME</a></li>
        {% else %}
          <li><a href="spv">HOME</a></li>
        {% endif %}
      
        {% if active_page == 'task' %}
          <div class="dropdown">
            <button class="active">TASK
              <i class="fa fa-caret-down"></i>
            </button>
        {% else %}
          <div class="dropdown">
          <button class="dropbtn">TASK
            <i class="fa fa-caret-down"></i>
          </button>
        {% endif %}

            <div class="dropdown-content">
              <a href="availableTaskSPV">AVAILABLE TASK</a>
              <a href="listTask">LIST TASK</a>
              <a href="onProgressTask">ON PROGRESS TASK</a>
              <a href="historyTask">HISTORY TASK</a>
            </div>
          </div>
      
        {% if active_page == 'template' %}
          <div class="dropdown">
            <button class="active">TEMPLATE
              <i class="fa fa-caret-down"></i>
            </button>
        {% else %}
          <div class="dropdown">
            <button class="dropbtn">TEMPLATE
              <i class="fa fa-caret-down"></i>
            </button>
        {% endif %}

            <div class="dropdown-content">
              <a href="addTemplate">NEW TEMPLATE</a>
              <a href="formatTemplate">EDIT TEMPLATE</a>
            </div>
          </div>

        {% if active_page == 'query' %}
          <div class="dropdown">
            <button class="active">QUERY
              <i class="fa fa-caret-down"></i>
            </button>
        {% else %}
          <div class="dropdown">
            <button class="dropbtn">QUERY
              <i class="fa fa-caret-down"></i>
            </button>
        {% endif %}
            <div class="dropdown-content">
              <a href="insertQuery">NEW QUERY</a>
              <a href="editQuery">EDIT QUERY</a>
            </div>
          </div>

        {% if active_page == 'preview' %}
          <li class="active"><a href="preview">PREVIEW</a></li>
        {% else %}
          <li><a href="preview">PREVIEW</a></li>
        {% endif %}

        {% if active_page == 'schedule' %}
          <div class="dropdown">
            <button class="active">SCHEDULING
              <i class="fa fa-caret-down"></i>
            </button>
        {% else %}
          <div class="dropdown">
            <button class="dropbtn">SCHEDULING
              <i class="fa fa-caret-down"></i>
            </button>
        {% endif %}

            <div class="dropdown-content">
              <a href="addNewSchedule">NEW SCHEDULE</a>
              <a href="editSchedule">EDIT SCHEDULE</a>
              <a href="">RUN SCHEDULE</a>
            </div>
          </div>

        {% if active_page == 'report'%}
          <li class="active"><a href="listReport">LIST REPORT</a></li>
        {% else %}
          <li><a href="listReport">LIST REPORT</a></li>
        {% endif %}
              
        {% if active_page == 'account' %}
          <div class="dropdown">
              <button class="active">ACCOUNT
                <i class="fa fa-caret-down"></i>
              </button>
        {% else %}
          <div class="dropdown">
            <button class="dropbtn">ACCOUNT
              <i class="fa fa-caret-down"></i>
            </button>
        {% endif %}

              <div class="dropdown-content">
                <a href="changePass">PROFILE</a>
                <a href="login">LOGOUT</a>
              </div>
          </div>

      </div> <!-- DIV TOPNAV RIGHT -->
    </ul></div> <!-- DIV TOPNAV -->
        
  </div> <!-- DIV NAVBAR -->
    
    <div id="content">{% block content %}

    {% endblock %}</div>



        <div id="script">
    {% block script %}
    {% endblock %}
  </div>

    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>




    <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
  </body>
</html>