<html>
        
        <head>
        	<title>Available Task</title>
        	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
    


<body bgcolor="#F0FFF0">

<!-- <div class="container2">
        <h2> Welcome, {{session['username']}}</h2> -->
        
        

            <!-- <div>
                <input type="text2" placeholder="Search Report ..">
            </div> -->

{% if session.get('position') == 'Admin' %}
  <div class="topnav"><ul>
        <li><a href="admin">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTask">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a class="active" href="runSchedule">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>

{% else %}
  <div class="topnav"><ul>
        <li><a href="spv">HOME</a></li>
        <li><a href="changePass">ACCOUNT</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TASK
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="availableTaskSPV">AVAILABLE TASK</a>
          <a href="listTask">LIST TASK</a>
          <a href="onProgressTask">ON PROGRESS TASK</a>
          <a href="historyTask">HISTORY TASK</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a class="active" href="runSchedule">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>


{% endif %}

<br><br>
<center>

<h1>TODAY'S REPORT TO RUN</h1>
                <table id="list">
                  <tr>
                    <th>Report Code</th>
                    <th>Organization</th>
                    <th>Category</th>
                    <th>Receiver</th>
                    <th>Server</th>
                  </tr>
                  {% for row in kodeToday %}
                  <tr >
                    <td>{{row.reportId}}</td>
                    <td>{{row.org_id}}</td>
                    <td>{{row.ktgri_id}}</td>
                    <td>{{row.schPenerima}}</td>
                    <td>{{row.server_id}}</td>
                                   
                  </tr>
                  {% endfor %}
                 
                </table>



<h1>SUCCESS</h1>
                <table id="list">
                  <tr>
                    <th>Report Code</th>
                    <th>Organization</th>
                    <th>Category</th>
                    <th>Run Date</th>
                    <th>Run Time</th>
                    <th>End Time</th>
                    <th>Server</th>
                   
                    
                  </tr>
                  
                  {% for row in statusSchedule %}
                  {% if row.runStatus == 'B' %}
                  <tr >
                    <td>{{row.reportId}}</td>
                    <td>{{row.orgId}}</td>
                    <td>{{row.ktgriId}}</td>
                    <td>{{row.runDate}}</td>
                    <td>{{row.runStartTime}}</td>
                    <td>{{row.runEndTime}}</td>
                    <td>{{row.serverId}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}

                 
                </table>

<h1>FAILED TO RUN</h1>
                <table id="list">
                  <tr>
                    <th>Report Code</th>
                    <th>Organization</th>
                    <th>Category</th>
                    <th>Run Date</th>
                    <th>Run Time</th>
                    <th>End Time</th>
                    <th>Server</th>
                   
                    
                  </tr>
                  
                  {% for row in statusSchedule %}
                  {% if row.runStatus == 'G' %}
                  <tr >
                    <td>{{row.reportId}}</td>
                    <td>{{row.orgId}}</td>
                    <td>{{row.ktgriId}}</td>
                    <td>{{row.runDate}}</td>
                    <td>{{row.runStartTime}}</td>
                    <td>{{row.runEndTime}}</td>
                    <td>{{row.serverId}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}

                 
                </table>






</div>  <!-- DIV / -->

    </body>



</html>
