<div class="wrapper">
  <div class="content">
    <h1>Barcode scanner prototype</h1>
    <p><strong>Instructions:</strong></p>
    <ul>
      <li>Search for "<strong>128 barcode</strong>" on <strong>Google.com</strong> on your phone. Click to view any barcode and point your screen towards the camera. You should hear a beep!</li>
      <li>Once the border on the right is red, the scanner is ready for another barcode.</li>
      <li>If you're trying to scan a barcode and the border on the right is still green, move the barcode out of the camera view and back again.</li>
    </ul>
    <p><strong>Important notes:</strong></p>
    <ul>
      <li>Make sure to allow the browser to access your camera.</li>
      <li>You may see incorrect readings listed below when scanning, these can be filtered out later on, this just a scanning prototype.</li>
    </ul>
    <strong>Scanned codes:</strong>
    <ul class="codes-list"></ul>
  </div>

  <div class="scanner-cam"></div>
</div>